[Unit]
Description=Lance le script 10 minutes après le lancement du Pi et se relance toutes les 1h
[Timer]
OnBootSec=10minutes   
# le service démarrera 10 minutes après le démarrage de la machine
OnUnitActiveSec=60minutes  
Persistent=true
# le service démarrera toutes les 60 minutes après la dernière activation du timer
###    voir toutes les possibilités de choix  dans ce  document https://man7.org/linux/man-pages/man7/systemd.time.7.html
[Install]
WantedBy=timers.target
